.body{
    background-image: url("./assets/background.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    min-height: 100vh;
    font-family: 'Roboto' sans-serif;
}
.bd-masthead{
    padding: 5rem 0;
}
.navbar{
    border-radius: 50px;    
    background-color: rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(1px);
    border: 0 solid;
}
.dropdown-menu{
    width: 300px;
    height: auto;
    padding: 10px;
}
.mb-5{
    width: 220px;
    height: auto;
}
.nosotros {
    margin: 30px;
    text-align:start;
    font-size: 21px;
}
.transaccion-principal{
    grid-gap: 20px;
}
.informacion-transaccion h2{
    font-family: 'Bree Serif', serif;
    font-size: 20px;
    font-weight: bold;
}
.informacion-transaccion p{
    font-size: 15px;
    font-family: 'Roboto', serif;
    
}
.cuerpo-pagina{
    padding: 10px;
    margin: 20px;
}
.divisor-listado{
    margin: 20px;
}
.divisor-listado ul{
    padding: 10px;
    margin: 20px;
}

.divisor-listado li{
    padding: 10px;
    font-style: italic;
    list-style: upper-roman;
}
.bi-person-fill{
    font-size: 18px;
}
.bi-envelope-fill{
    text-decoration: none;
    font-size: 30px;
    color: blue;
}
.fotos-banco{
    display: flex;
    justify-content: center;
    align-items:center;
    margin: 10px;
    padding: 20px;
 }
.fotos-banco .carousel{
    width: 40vw;
    height: 40vh;
}
.d-block{
    height: 92%;
    width: 92%;
    padding: 10px;
    display: block;
    border-radius: 20px;
    transition: all 0.2s ease;
}
.overlay{
    transition: all 0.2s ease;
    opacity: 0;
    position: absolute;
    top: 20%;
}
.fotos-titulo{
    font-size: 25px;
    text-align: center;
}
.fotos-datos{
    font-size: 20px;
    text-align: center;
}
.carousel-inner:hover .d-block{
    opacity: 0.2;
}
.carousel-inner:hover .overlay{
    opacity: 2;
}
img:hover{
    opacity: 1;
    background-color: white;
}
.seccion-oscura{
    color: #fff;
    background-color: rgb(65, 65, 65);
    display: block;
}

/* SE CREA ESTILOS PARA EL  HTML seccionDelUsuario */
.usuariovalores{
    display: flex;
    margin-top: 20px;
    padding: 20px;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.seccionelegir{
    width: 50%;
    margin: 4px;
    padding: 20px;
    display: flex;
    align-items: baseline;
    flex-direction: column;
    align-items: center;
}
.seccionelegir button{
    margin: 10px;
    padding: 10px;
}

.inputs {
    width: 100%;
    max-width: 200px;
    margin: 0 auto;
    padding: 20px;
}  
.seccionver, .seccionagregar, .seccionretirar{
    width: 60%;
    height: 60%;
    display: none;
    text-align: center;
    padding: 20px;
}
.seccionagregar, .seccionretirar h3{
    padding: 10px;
    font-size: 30px;
}
.seccionagregar, .seccionretirar span{
    font-size: 18px;
}